*{
    margin:0;
    padding: 0;
}

body{
    background: #f1f1f1;
    margin:0;
    padding:0;
    font-family: 'Courier Prime', Monospace;
}
/* Header */
header{
    background: #e4e4e4;
    width: 100%;
    height: 80px;
    border-bottom:black 1px solid;
}
header h2{
  padding-top: 20px;
  text-align: center;
}
header span{
    color:red;
}

.img1{
    width: 100px;
    height: 100px;
    border-radius:100px;
}

.img2{
    width: 100px;
    height: 100px;
    border-radius:100px;
}
.bars{
  border-bottom:black 1px solid;
  background-color:#e4e4e4;
  width: 100%;
  height: 50px;
}
/* Sidebar */
.sidebar{
    background: #e4e4e4;
    margin-top:1px;
    padding-top:30px;
    position: absolute;
    left:-181px;
    width: 180px;
    height: 500px;
    border-right:black 1px solid;
    border-bottom:black 1px solid;
    transition:0.5s left ease;
}

.sidebar a{
    color:black;
    display:block;
    width: 100%;
    line-height:50px;
    text-decoration: none;
    box-sizing:border-box;
    padding-left:20px;
    transition:0.5s color ease;
    transition:0.5s padding-left ease;
}

.sidebar a:hover{
    color: red;
    padding-left:25px;
}

label #btn{
    z-index:1;
    color:black;
    cursor:pointer;
    font-size:20px;
    margin-top:15px;
    margin-left: 20px;
    transition:0.5s;
    transition-property:color;
}

label #btn:hover{
    color:red;
}

#check:checked ~ .sidebar{
    left:0px;
}

#check{
    display:none;
}
footer{
    margin-top:10px;
    background-color:#e4e4e4;
    width: 100%;
    height: 60px;
    text-align:center;
    border-top:black 1px solid;
}
footer h4{
  padding-top:20px;
}
/* Contents */
.flexbox{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex{
  background-color:#e4e4e4;
  margin:10px 0 0 0;
  border:black 1px solid;
  width: 90%;
  height: 500px;
  border-radius: 2px;
}
#noveltitle{
  width: 300px;
  height: 24px;
  text-align: center;
}
#flex13{
  width: 300px;
  height: 360px;
}
.img12{
  width: 100%;
  height: 100%;
}
#flex12{
  text-align: center;
  height: 235px;
}
#flex11{
  text-align: center;
  font-family: Courier;
  height: 625px;
}
#flex10{
  text-align: center;
  height: 617px;
}
#flex10 a{
  text-decoration: none;
  color: red;
}
/* Reincarnated As A Sword */
#sword-title{
  text-align: center;
  width:330px;
  height: 24px;
}
#sword-12{
  text-align: center;
  height: 280px;
}
#sword-11{
  text-align: center;
  font-family: Courier;
  height: 480px;
}
#sword-10{
  text-align: center;
  height: 565px;
}
#sword-10 a{
  text-decoration: none;
  color: red;
}
/* Majo No Tabitabi */
#elaina-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#elaina-13{
  width: 300px;
  height: 360px;
}
#elaina-12{
  text-align: center;
  height: 280px;
}
#elaina-11{
  text-align: center;
  font-family: Courier;
  height: 683px;
}
#elaina-10{
  text-align: center;
  height: 515px;
}
#elaina-10 a{
  text-decoration: none;
  color: red;
}
/* Adachi And Shimamura */
#adachi-title{
  text-align: center;
  width:320px;
  height: 24px;
}
#adachi-13{
  width: 300px;
  height: 360px;
}
#adachi-12{
  text-align: center;
  height: 255px;
}
#adachi-11{
  text-align: center;
  font-family: Courier;
  height: 680px;
}
#adachi-10{
  text-align: center;
  height: 515px;
}
#adachi-10 a{
  text-decoration: none;
  color: red;
}
/* Girls Kingdom */
#gkingdom-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#gkingdom-13{
  width: 300px;
  height: 360px;
}
#gkingdom-12{
  text-align: center;
  height: 253px;
}
#gkingdom-11{
  text-align: center;
  font-family: Courier;
  height: 719px;
}
#gkingdom-10{
  text-align: center;
  height: 266px;
}
#gkingdom-10 a{
  text-decoration: none;
  color: red;
}
/* Otherside Picnic */
#otherside-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#otherside-13{
  width: 300px;
  height: 360px;
}
#otherside-12{
  text-align: center;
  height: 278px;
}
#otherside-11{
  text-align: center;
  font-family: Courier;
  height: 541px;
}
#otherside-10{
  text-align: center;
  height: 435px;
}
#otherside-10 a{
  text-decoration: none;
  color: red;
}
/* The Executioner And Her Way Of Life */
#executioner-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#executioner-13{
  width: 300px;
  height: 360px;
}
#executioner-12{
  text-align: center;
  height: 255px;
}
#executioner-11{
  text-align: center;
  font-family: Courier;
  height: 700px;
}
#executioner-10{
  text-align: center;
  height: 265px;
}
#executioner-10 a{
  text-decoration: none;
  color: red;
}
/* Im Inlove With The Villainess */
#inlove-title{
  text-align: center;
  width:350px;
  height: 24px;
}
#inlove-13{
  width: 300px;
  height: 360px;
}
#inlove-12{
  text-align: center;
  height: 277px;
}
#inlove-11{
  text-align: center;
  font-family: Courier;
  height: 727px;
}
#inlove-10{
  text-align: center;
  height: 315px;
}
#inlove-10 a{
  text-decoration: none;
  color: red;
}
/* The Magical Revolution */
#magical-title{
  text-align: center;
  width:340;
  height: 74px;
}
#magical-13{
  width: 300px;
  height: 360px;
}
#magical-12{
  text-align: center;
  height: 251px;
}
#magical-11{
  text-align: center;
  font-family: Courier;
  height: 442px;
}
#magical-10{
  text-align: center;
  height: 165px;
}
#magical-10 a{
  text-decoration: none;
  color: red;
}
/* The Vexations Of The Shut-in Vampire Princess */
#vexation-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#vexation-13{
  width: 300px;
  height: 360px;
}
#vexation-12{
  text-align: center;
  height: 252px;
}
#vexation-11{
  text-align: center;
  font-family: Courier;
  height: 780px;
}
#vexation-10{
  text-align: center;
  height: 165px;
}
#vexation-10 a{
  text-decoration: none;
  color: red;
}
/* Spy Classroom */
#spy-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#spy-13{
  width: 300px;
  height: 360px;
}
#spy-12{
  text-align: center;
  height: 250px;
}
#spy-11{
  text-align: center;
  font-family: Courier;
  height: 865px;
}
#spy-10{
  text-align: center;
  height: 265px;
}
#spy-10 a{
  text-decoration: none;
  color: red;
}
/* She's The Cutest... But We're Just Friends */
#cutest-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#cutest-13{
  width: 300px;
  height: 360px;
}
#cutest-12{
  text-align: center;
  height: 253px;
}
#cutest-11{
  text-align: center;
  font-family: Courier;
  height: 519px;
}
#cutest-10{
  text-align: center;
  height: 165px;
}
#cutest-10 a{
  text-decoration: none;
  color: red;
}
/* The NPC's In This Village Sim Must Be Real! */
#npcs-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#npcs-13{
  width: 300px;
  height: 360px;
}
#npcs-12{
  text-align: center;
  height: 252px;
}
#npcs-11{
  text-align: center;
  font-family: Courier;
  height: 682px;
}
#npcs-10{
  text-align: center;
  height: 217px;
}
#npcs-10 a{
  text-decoration: none;
  color: red;
}
/* Shinwa Densetsu No Eiyuu No Isekaitan */
#shinwa-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#shinwa-13{
  width: 300px;
  height: 360px;
}
#shinwa-12{
  text-align: center;
  height: 303px;
}
#shinwa-11{
  text-align: center;
  font-family: Courier;
  height: 620px;
}
#shinwa-10{
  text-align: center;
  height: 560px;
}
#shinwa-10 a{
  text-decoration: none;
  color: red;
}
/* Taking Care Of My Younger Sister's Too Naive Of A Beautiful Yankee High Schooler, Then Falling In Love */
#yankee-title{
  text-align: center;
  width:340px;
  height: 94px;
}
#yankee-13{
  width: 300px;
  height: 360px;
}
#yankee-12{
  text-align: center;
  height: 210px;
}
#yankee-11{
  text-align: center;
  font-family: Courier;
  height: 925px;
}
#yankee-10{
  text-align: center;
  height: 115px;
}
#yankee-10 a{
  text-decoration: none;
  color: red;
}
/* No Game No Life: Practical War Game & Yuu Kamiya Art Works */
#practical-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#practical-13{
  width: 300px;
  height: 360px;
}
#practical-12{
  text-align: center;
  height: 250px;
}
#practical-11{
  text-align: center;
  font-family: Courier;
  height: 580px;
}
#practical-10{
  text-align: center;
  height: 220px;
}
#practical-10 a{
  text-decoration: none;
  color: red;
}
/* ğ™·ğš˜ğš  ğ™²ğš˜ğšğš•ğš ğšˆğš˜ğš ğ™»ğš’ğš”ğš ğ™°ğš—ğš˜ğšğš‘ğšğš› ğ™¶ğš’ğš›ğš• ğš†ğš‘ğšğš— ğšˆğš˜ğš ğ™°ğš•ğš›ğšğšŠğšğš¢ ğ™·ğšŠğšŸğš ğ™° ğ™²ğšğšğš ğ™µğš’ğšŠğš—ğšŒğšğš ğ™»ğš’ğš”ğš ğ™¼ğš */
#fiancee-title{
  text-align: center;
  width:300px;
  height: 72px;
}
#fiancee-13{
  width: 300px;
  height: 360px;
}
#fiancee-12{
  text-align: center;
  height: 278px;
}
#fiancee-11{
  text-align: center;
  font-family: Courier;
  height: 715px;
}
#fiancee-10{
  text-align: center;
  height: 115px;
}
#fiancee-10 a{
  text-decoration: none;
  color: red;
}
/* Heat The Pig Liver */
#pig-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#pig-13{
  width: 300px;
  height: 360px;
}
#pig-12{
  text-align: center;
  height: 278px;
}
#pig-11{
  text-align: center;
  font-family: Courier;
  height: 1060px;
}
#pig-10{
  text-align: center;
  height: 115px;
}
#pig-10 a{
  text-decoration: none;
  color: red;
}
/* ğ™°ğšğšğšğš› ğ™¼ğš¢ ğ™µğš’ğš›ğšœğš ğ™»ğš˜ğšŸğš ğš†ğš‘ğš˜ ğ™¸ğšœ ğ™¼ğš¢ ğ™²ğš•ğšŠğšœğšœğš–ğšŠğšğš ğ™±ğšğšŒğšŠğš–ğš ğ™¼ğš¢ ğ™µğšŠğš–ğš’ğš•ğš¢, ğ™¼ğš¢ ğ™²ğš‘ğš’ğš•ğšğš‘ğš˜ğš˜ğš ğ™µğš›ğš’ğšğš—ğš ğ™±ğšğšŒğšŠğš–ğš ğšğšğšŠğš•ğš•ğš¢ ğš‚ğš ğšğšğš ğšƒğš˜ ğ™¼ğš */
#family-title{
  text-align: center;
  width:300px;
  height: 94px;
}
#family-13{
  width: 300px;
  height: 360px;
}
#family-12{
  text-align: center;
  height: 253px;
}
#family-11{
  text-align: center;
  font-family: Courier;
  height: 465px;
}
#family-10{
  text-align: center;
  height: 115px;
}
#family-10 a{
  text-decoration: none;
  color: red;
}
/* ğšƒğš˜ğš—ğšŠğš›ğš’ ğ™½ğš˜ ğ™ºğš’ğš–ğš’ ğ™³ğš ğ™°ğšğšŠğš–ğšŠ ğ™¶ğšŠ ğ™¸ğš™ğš™ğšŠğš’ */
#tonari-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#tonari-13{
  width: 300px;
  height: 360px;
}
#tonari-12{
  text-align: center;
  height: 230px;
}
#tonari-11{
  text-align: center;
  font-family: Courier;
  height: 860px;
}
#tonari-10{
  text-align: center;
  height: 115px;
}
#tonari-10 a{
  text-decoration: none;
  color: red;
}
/* ğ™°ğšğšğšğš› ğ™° ğ™·ğšğšŠğš›ğšğš‹ğš›ğšğšŠğš”, ğ™¼ğš¢ ğ™±ğš’ğšğšğšğš› ğ™²ğš‘ğš’ğš•ğšğš‘ğš˜ğš˜ğš ğ™µğš›ğš’ğšğš—ğš ğ™¸ğšœ ğ™½ğš˜ğš  ğš‚ğš ğšğšğš ğ™»ğš’ğš”ğš ğš‚ğšğšğšŠğš› */
#heartbreak-title{
  text-align: center;
  width:300px;
  height: 72px;
}
#heartbreak-13{
  width: 300px;
  height: 360px;
}
#heartbreak-12{
  text-align: center;
  height: 230px;
}
#heartbreak-11{
  text-align: center;
  font-family: Courier;
  height: 745px;
}
#heartbreak-10{
  text-align: center;
  height: 115px;
}
#heartbreak-10 a{
  text-decoration: none;
  color: red;
}
/* Blue Outline */
#outline-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#outline-13{
  width: 300px;
  height: 360px;
}
#outline-12{
  text-align: center;
  height: 240px;
}
#outline-11{
  text-align: center;
  font-family: Courier;
  height: 970px;
}
#outline-10{
  text-align: center;
  height: 115px;
}
#outline-10 a{
  text-decoration: none;
  color: red;
}
/* ğšˆğš˜ğš–ğšğš’ ğ™¸ğšŒğš‘ğš’ğš—ğšğš— ğ™½ğš˜ ğ™ºğš’ğš–ğš’ ğ™¶ğšŠ ğ™±ğš˜ğš”ğš ğ™½ğš’ ğ™ºğš˜ğš”ğš˜ğšœğš‘ğš’ğšğš ğ™ºğšğš›ğšğšğšŠ ğ™¼ğš˜ğš—ğš˜ */
#yomei-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#yomei-13{
  width: 300px;
  height: 360px;
}
#yomei-12{
  text-align: center;
  height: 183px;
}
#yomei-11{
  text-align: center;
  font-family: Courier;
  height: 524px;
}
#yomei-10{
  text-align: center;
  height: 115px;
}
#yomei-10 a{
  text-decoration: none;
  color: red;
}
