*{
    margin:0;
    padding: 0;
}

body{
    background: #f1f1f1;
    margin:0;
    padding:0;
    font-family: 'Courier Prime', Monospace;
}
/* Header */
header{
    background: #e4e4e4;
    width: 100%;
    height: 80px;
    border-bottom:black 1px solid;
}
header h2{
  padding-top: 20px;
  text-align: center;
}
header span{
    color:red;
}

.img1{
    width: 100px;
    height: 100px;
    border-radius:100px;
}

.img2{
    width: 100px;
    height: 100px;
    border-radius:100px;
}
.bars{
  border-bottom:black 1px solid;
  background-color:#e4e4e4;
  width: 100%;
  height: 50px;
}
/* Sidebar */
.sidebar{
    background: #e4e4e4;
    margin-top:1px;
    padding-top:30px;
    position: absolute;
    left:-181px;
    width: 180px;
    height: 500px;
    border-right:black 1px solid;
    border-bottom:black 1px solid;
    transition:0.5s left ease;
}

.sidebar a{
    color:black;
    display:block;
    width: 100%;
    line-height:50px;
    text-decoration: none;
    box-sizing:border-box;
    padding-left:20px;
    transition:0.5s color ease;
    transition:0.5s padding-left ease;
}

.sidebar a:hover{
    color: red;
    padding-left:25px;
}

label #btn{
    z-index:1;
    color:black;
    cursor:pointer;
    font-size:20px;
    margin-top:15px;
    margin-left: 20px;
    transition:0.5s;
    transition-property:color;
}

label #btn:hover{
    color:red;
}

#check:checked ~ .sidebar{
    left:0px;
}

#check{
    display:none;
}
footer{
    margin-top:10px;
    background-color:#e4e4e4;
    width: 100%;
    height: 60px;
    text-align:center;
    border-top:black 1px solid;
}
footer h4{
  padding-top:20px;
}
/* Contents */
.flexbox{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex{
  background-color:#e4e4e4;
  margin:10px 0 0 0;
  border:black 1px solid;
  width: 90%;
  height: 500px;
  border-radius: 2px;
}
#noveltitle{
  width: 300px;
  height: 24px;
  text-align: center;
}
#flex13{
  width: 300px;
  height: 360px;
}
.img12{
  width: 100%;
  height: 100%;
}
#flex12{
  text-align: center;
  height: 235px;
}
#flex11{
  text-align: center;
  font-family: Courier;
  height: 625px;
}
#flex10{
  text-align: center;
  height: 617px;
}
#flex10 a{
  text-decoration: none;
  color: red;
}
/* Reincarnated As A Sword */
#sword-title{
  text-align: center;
  width:330px;
  height: 24px;
}
#sword-12{
  text-align: center;
  height: 280px;
}
#sword-11{
  text-align: center;
  font-family: Courier;
  height: 480px;
}
#sword-10{
  text-align: center;
  height: 565px;
}
#sword-10 a{
  text-decoration: none;
  color: red;
}
/* Majo No Tabitabi */
#elaina-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#elaina-13{
  width: 300px;
  height: 360px;
}
#elaina-12{
  text-align: center;
  height: 280px;
}
#elaina-11{
  text-align: center;
  font-family: Courier;
  height: 683px;
}
#elaina-10{
  text-align: center;
  height: 515px;
}
#elaina-10 a{
  text-decoration: none;
  color: red;
}
/* Adachi And Shimamura */
#adachi-title{
  text-align: center;
  width:320px;
  height: 24px;
}
#adachi-13{
  width: 300px;
  height: 360px;
}
#adachi-12{
  text-align: center;
  height: 255px;
}
#adachi-11{
  text-align: center;
  font-family: Courier;
  height: 680px;
}
#adachi-10{
  text-align: center;
  height: 515px;
}
#adachi-10 a{
  text-decoration: none;
  color: red;
}
/* Girls Kingdom */
#gkingdom-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#gkingdom-13{
  width: 300px;
  height: 360px;
}
#gkingdom-12{
  text-align: center;
  height: 253px;
}
#gkingdom-11{
  text-align: center;
  font-family: Courier;
  height: 719px;
}
#gkingdom-10{
  text-align: center;
  height: 266px;
}
#gkingdom-10 a{
  text-decoration: none;
  color: red;
}
/* Otherside Picnic */
#otherside-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#otherside-13{
  width: 300px;
  height: 360px;
}
#otherside-12{
  text-align: center;
  height: 278px;
}
#otherside-11{
  text-align: center;
  font-family: Courier;
  height: 541px;
}
#otherside-10{
  text-align: center;
  height: 435px;
}
#otherside-10 a{
  text-decoration: none;
  color: red;
}
/* The Executioner And Her Way Of Life */
#executioner-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#executioner-13{
  width: 300px;
  height: 360px;
}
#executioner-12{
  text-align: center;
  height: 255px;
}
#executioner-11{
  text-align: center;
  font-family: Courier;
  height: 700px;
}
#executioner-10{
  text-align: center;
  height: 265px;
}
#executioner-10 a{
  text-decoration: none;
  color: red;
}
/* Im Inlove With The Villainess */
#inlove-title{
  text-align: center;
  width:350px;
  height: 24px;
}
#inlove-13{
  width: 300px;
  height: 360px;
}
#inlove-12{
  text-align: center;
  height: 277px;
}
#inlove-11{
  text-align: center;
  font-family: Courier;
  height: 727px;
}
#inlove-10{
  text-align: center;
  height: 315px;
}
#inlove-10 a{
  text-decoration: none;
  color: red;
}
/* The Magical Revolution */
#magical-title{
  text-align: center;
  width:340;
  height: 74px;
}
#magical-13{
  width: 300px;
  height: 360px;
}
#magical-12{
  text-align: center;
  height: 251px;
}
#magical-11{
  text-align: center;
  font-family: Courier;
  height: 442px;
}
#magical-10{
  text-align: center;
  height: 165px;
}
#magical-10 a{
  text-decoration: none;
  color: red;
}
/* The Vexations Of The Shut-in Vampire Princess */
#vexation-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#vexation-13{
  width: 300px;
  height: 360px;
}
#vexation-12{
  text-align: center;
  height: 252px;
}
#vexation-11{
  text-align: center;
  font-family: Courier;
  height: 780px;
}
#vexation-10{
  text-align: center;
  height: 165px;
}
#vexation-10 a{
  text-decoration: none;
  color: red;
}
/* Spy Classroom */
#spy-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#spy-13{
  width: 300px;
  height: 360px;
}
#spy-12{
  text-align: center;
  height: 250px;
}
#spy-11{
  text-align: center;
  font-family: Courier;
  height: 865px;
}
#spy-10{
  text-align: center;
  height: 265px;
}
#spy-10 a{
  text-decoration: none;
  color: red;
}
/* She's The Cutest... But We're Just Friends */
#cutest-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#cutest-13{
  width: 300px;
  height: 360px;
}
#cutest-12{
  text-align: center;
  height: 253px;
}
#cutest-11{
  text-align: center;
  font-family: Courier;
  height: 519px;
}
#cutest-10{
  text-align: center;
  height: 165px;
}
#cutest-10 a{
  text-decoration: none;
  color: red;
}
/* The NPC's In This Village Sim Must Be Real! */
#npcs-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#npcs-13{
  width: 300px;
  height: 360px;
}
#npcs-12{
  text-align: center;
  height: 252px;
}
#npcs-11{
  text-align: center;
  font-family: Courier;
  height: 682px;
}
#npcs-10{
  text-align: center;
  height: 217px;
}
#npcs-10 a{
  text-decoration: none;
  color: red;
}
/* Shinwa Densetsu No Eiyuu No Isekaitan */
#shinwa-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#shinwa-13{
  width: 300px;
  height: 360px;
}
#shinwa-12{
  text-align: center;
  height: 303px;
}
#shinwa-11{
  text-align: center;
  font-family: Courier;
  height: 620px;
}
#shinwa-10{
  text-align: center;
  height: 560px;
}
#shinwa-10 a{
  text-decoration: none;
  color: red;
}
/* Taking Care Of My Younger Sister's Too Naive Of A Beautiful Yankee High Schooler, Then Falling In Love */
#yankee-title{
  text-align: center;
  width:340px;
  height: 94px;
}
#yankee-13{
  width: 300px;
  height: 360px;
}
#yankee-12{
  text-align: center;
  height: 210px;
}
#yankee-11{
  text-align: center;
  font-family: Courier;
  height: 925px;
}
#yankee-10{
  text-align: center;
  height: 115px;
}
#yankee-10 a{
  text-decoration: none;
  color: red;
}
/* No Game No Life: Practical War Game & Yuu Kamiya Art Works */
#practical-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#practical-13{
  width: 300px;
  height: 360px;
}
#practical-12{
  text-align: center;
  height: 250px;
}
#practical-11{
  text-align: center;
  font-family: Courier;
  height: 580px;
}
#practical-10{
  text-align: center;
  height: 220px;
}
#practical-10 a{
  text-decoration: none;
  color: red;
}
/* 𝙷𝚘𝚠 𝙲𝚘𝚞𝚕𝚍 𝚈𝚘𝚞 𝙻𝚒𝚔𝚎 𝙰𝚗𝚘𝚝𝚑𝚎𝚛 𝙶𝚒𝚛𝚕 𝚆𝚑𝚎𝚗 𝚈𝚘𝚞 𝙰𝚕𝚛𝚎𝚊𝚍𝚢 𝙷𝚊𝚟𝚎 𝙰 𝙲𝚞𝚝𝚎 𝙵𝚒𝚊𝚗𝚌𝚎𝚎 𝙻𝚒𝚔𝚎 𝙼𝚎 */
#fiancee-title{
  text-align: center;
  width:300px;
  height: 72px;
}
#fiancee-13{
  width: 300px;
  height: 360px;
}
#fiancee-12{
  text-align: center;
  height: 278px;
}
#fiancee-11{
  text-align: center;
  font-family: Courier;
  height: 715px;
}
#fiancee-10{
  text-align: center;
  height: 115px;
}
#fiancee-10 a{
  text-decoration: none;
  color: red;
}
/* Heat The Pig Liver */
#pig-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#pig-13{
  width: 300px;
  height: 360px;
}
#pig-12{
  text-align: center;
  height: 278px;
}
#pig-11{
  text-align: center;
  font-family: Courier;
  height: 1060px;
}
#pig-10{
  text-align: center;
  height: 115px;
}
#pig-10 a{
  text-decoration: none;
  color: red;
}
/* 𝙰𝚏𝚝𝚎𝚛 𝙼𝚢 𝙵𝚒𝚛𝚜𝚝 𝙻𝚘𝚟𝚎 𝚆𝚑𝚘 𝙸𝚜 𝙼𝚢 𝙲𝚕𝚊𝚜𝚜𝚖𝚊𝚝𝚎 𝙱𝚎𝚌𝚊𝚖𝚎 𝙼𝚢 𝙵𝚊𝚖𝚒𝚕𝚢, 𝙼𝚢 𝙲𝚑𝚒𝚕𝚍𝚑𝚘𝚘𝚍 𝙵𝚛𝚒𝚎𝚗𝚍 𝙱𝚎𝚌𝚊𝚖𝚎 𝚁𝚎𝚊𝚕𝚕𝚢 𝚂𝚠𝚎𝚎𝚝 𝚃𝚘 𝙼𝚎 */
#family-title{
  text-align: center;
  width:300px;
  height: 94px;
}
#family-13{
  width: 300px;
  height: 360px;
}
#family-12{
  text-align: center;
  height: 253px;
}
#family-11{
  text-align: center;
  font-family: Courier;
  height: 465px;
}
#family-10{
  text-align: center;
  height: 115px;
}
#family-10 a{
  text-decoration: none;
  color: red;
}
/* 𝚃𝚘𝚗𝚊𝚛𝚒 𝙽𝚘 𝙺𝚒𝚖𝚒 𝙳𝚎 𝙰𝚝𝚊𝚖𝚊 𝙶𝚊 𝙸𝚙𝚙𝚊𝚒 */
#tonari-title{
  text-align: center;
  width:300px;
  height: 48px;
}
#tonari-13{
  width: 300px;
  height: 360px;
}
#tonari-12{
  text-align: center;
  height: 230px;
}
#tonari-11{
  text-align: center;
  font-family: Courier;
  height: 860px;
}
#tonari-10{
  text-align: center;
  height: 115px;
}
#tonari-10 a{
  text-decoration: none;
  color: red;
}
/* 𝙰𝚏𝚝𝚎𝚛 𝙰 𝙷𝚎𝚊𝚛𝚝𝚋𝚛𝚎𝚊𝚔, 𝙼𝚢 𝙱𝚒𝚝𝚝𝚎𝚛 𝙲𝚑𝚒𝚕𝚍𝚑𝚘𝚘𝚍 𝙵𝚛𝚒𝚎𝚗𝚍 𝙸𝚜 𝙽𝚘𝚠 𝚂𝚠𝚎𝚎𝚝 𝙻𝚒𝚔𝚎 𝚂𝚞𝚐𝚊𝚛 */
#heartbreak-title{
  text-align: center;
  width:300px;
  height: 72px;
}
#heartbreak-13{
  width: 300px;
  height: 360px;
}
#heartbreak-12{
  text-align: center;
  height: 230px;
}
#heartbreak-11{
  text-align: center;
  font-family: Courier;
  height: 745px;
}
#heartbreak-10{
  text-align: center;
  height: 115px;
}
#heartbreak-10 a{
  text-decoration: none;
  color: red;
}
/* Blue Outline */
#outline-title{
  text-align: center;
  width:300px;
  height: 24px;
}
#outline-13{
  width: 300px;
  height: 360px;
}
#outline-12{
  text-align: center;
  height: 240px;
}
#outline-11{
  text-align: center;
  font-family: Courier;
  height: 970px;
}
#outline-10{
  text-align: center;
  height: 115px;
}
#outline-10 a{
  text-decoration: none;
  color: red;
}
/* 𝚈𝚘𝚖𝚎𝚒 𝙸𝚌𝚑𝚒𝚗𝚎𝚗 𝙽𝚘 𝙺𝚒𝚖𝚒 𝙶𝚊 𝙱𝚘𝚔𝚞 𝙽𝚒 𝙺𝚘𝚔𝚘𝚜𝚑𝚒𝚝𝚎 𝙺𝚞𝚛𝚎𝚝𝚊 𝙼𝚘𝚗𝚘 */
#yomei-title{
  text-align: center;
  width:330px;
  height: 48px;
}
#yomei-13{
  width: 300px;
  height: 360px;
}
#yomei-12{
  text-align: center;
  height: 183px;
}
#yomei-11{
  text-align: center;
  font-family: Courier;
  height: 524px;
}
#yomei-10{
  text-align: center;
  height: 115px;
}
#yomei-10 a{
  text-decoration: none;
  color: red;
}
