*{
    margin:0;
    padding: 0;
}

body {
    background: #f1f1f1;
    margin:0;
    padding:0;
    font-family:Courier;
}
/* Header */
header{
    background: #e4e4e4;
    width: 100%;
    height: 80px;
    border-bottom:black 1px solid;
}
header h2{
    margin-left:110px;
    margin-top:-35px;
}
header span{
    color:red;
}

.img1{
    width: 100px;
    height: 100px;
    border-radius:100px;
}
/* Sidebar */
.sidebar{
    background: #e4e4e4;
    margin-top:0px;
    padding-top:30px;
    position: absolute;
    left:-181px;
    width: 180px;
    height: 400px;
    border-right:black 1px solid;
    border-bottom:black 1px solid;
    transition:0.5s left ease;
}

.sidebar a{
    color:black;
    display:block;
    width: 100%;
    line-height:50px;
    text-decoration: none;
    box-sizing:border-box;
    padding-left:20px;
    transition:0.5s color ease;
    transition:0.5s padding-left ease;
}

.sidebar a:hover{
    color: red;
    padding-left:25px;
}

label #btn{
    z-index:1;
    color:black;
    cursor:pointer;
    margin-left:20px;
    margin-top:30px;
    font-size:20px;
    transition:0.5s;
    transition-property:color;
}

label #btn:hover{
    color:red;
}

#check:checked ~ .sidebar{
    left:0px;
}

#check{
    display:none;
}
/* content */
.flexbox{
    background:#f1f1f1;
    display:flex;
    left:0;
    padding-top:0px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.flex a{
    color:red;
    text-decoration:none;
}

#rec{
    width: 150px;
    height: 30px;
    text-align:center;
}

#copy{
    width: 200px;
    height: 30px;
    text-align:center;
}

.flexbox p a{
    color:red;
    text-decoration:none;
}

.flexbox p a:visited{
    color:black;
}
/* footer */
footer{
    width: 95%;
    height: 30px;
    margin-left:0px;
    margin-bottom:10px;
    text-align:center;
    border:black 1px solid;
    border-radius:2px;
}
/* End */
/* Yayoi Cant Hide Her Feelings */
.feelings{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#yayoi{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.hide{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* The Saint is more than noble */
.noble{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#saint{
    width: 98%;
    height: 90px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.more{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* Takane no Hana */
.hana{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#takane{
    width: 90%;
    height: 30px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.no{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* Prove Your Eternal Love */
.love{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#prove{
    width: 98%;
    height: 90px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.eternal{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* My Plain-looking Fiancee */
.fiancee{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#plain{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.looking{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */

/* Is a Girlfriend who cant say i love you */
.cant{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#girl{
    width: 98%;
    height: 120px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.who{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */

/* I Hold Your Voice Alone */
.alone{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#hold{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.voice{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* How Could You Like ANother Girl */
.another{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#how{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.could{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* Goodbye Sengen */
.sengen{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#good{
    width: 90%;
    height: 30px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.bye{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* Christmas Comes But Not For Us */
.comes{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#christ{
    width: 95%;
    height: 30px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.mas{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* Beautiful Yankee Highschooler */
.yankee{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#beau{
    width: 98%;
    height: 90px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.tiful{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* A Gal in My Class */
.sister{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#gal{
    width: 98%;
    height: 90px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.step{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* The Gyaru Sitting Behind Me Liked Me */
.liked{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#gyaru{
    width: 98%;
    height: 90px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.behind{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* Until My Girl Friend Who Said */
.forever{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#girl{
    width: 98%;
    height: 120px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.friends{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* I Started Working As A Lover Agent */
.beauties{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#lover{
    width: 98%;
    height: 120px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.agent{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* The Demon Sword Master of Excalibur Academy */
.master{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#demon{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.sword{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* The Angel Next Door Spoils Me Rotten */
.rotten{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#angel{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.spoils{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* ùöÇùöëùöíùöóùö†ùöä ùô≥ùöéùöóùöúùöéùöùùöúùöû */
.setsu{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#shinwa{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.den{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
/* You Are The Daughter Of My First Love */
.love{
    width: 300px;
    height: 360px;
    margin-left:2px;
    margin-top:10px;
    border:black 1px solid;
    border-radius:2px;
}

#daughter{
    width: 98%;
    height: 60px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center
}

.first{
    width: 95%;
    min-height: 1000px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-align:center;
}
/* End */
