*{
    margin:0;
    padding: 0;
}

body{
    background: #f1f1f1;
    margin:0;
    padding:0;
}
/* Header */
header{
    background: #e4e4e4;
    width: 100%;
    height: 80px;
    border-bottom:black 1px solid;
}
header h2{
  padding-top: 20px;
  text-align: center;
}
header span{
    color:red;
}

.img1{
    width: 100px;
    height: 100px;
    border-radius:100px;
}

.img2{
    width: 100px;
    height: 100px;
    border-radius:100px;
}
.bars{
  background-color:#e4e4e4;
  width: 100%;
  height: 50px;
}
.oneshot-bars{
  background-color:#e4e4e4;
  width: 100%;
  height: 50px;
  border-bottom:black 1px solid;
}
/* Sidebar */
.sidebar{
    background: #e4e4e4;
    margin-top:1px;
    padding-top:30px;
    position: absolute;
    left:-181px;
    width: 180px;
    height: 500px;
    border-right:black 1px solid;
    border-bottom:black 1px solid;
    transition:0.5s left ease;
}

.sidebar a{
    color:black;
    display:block;
    width: 100%;
    line-height:50px;
    text-decoration: none;
    box-sizing:border-box;
    padding-left:20px;
    transition:0.5s color ease;
    transition:0.5s padding-left ease;
}

.sidebar a:hover{
    color: red;
    padding-left:25px;
}

label #btn{
    z-index:1;
    color:black;
    cursor:pointer;
    font-size:20px;
    margin-top:15px;
    margin-left: 20px;
    transition:0.5s;
    transition-property:color;
}

label #btn:hover{
    color:red;
}

#check:checked ~ .sidebar{
    left:0px;
}

#check{
    display:none;
}
/* content */
.flexbox{
    background:#f1f1f1;
    display:flex;
    left:0;
    padding-top:0px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.flex{
    background: #e4e4e4;
    width:90%;
    height: 650px;
    border:black 1px solid;
    margin-bottom:10px;
    border-radius:2px;
    text-position:center;
}

#flex1{
    width: 100%;
    height: 200px;
    text-align:center;
}

.flexbox span{
    color:red;
}

#rec{
    width: 150px;
    height: 30px;
    text-align:center;
}

#copy{
    width: 200px;
    height: 30px;
    text-align:center;
}
/* footer */
footer{
    background-color:#e4e4e4;
    width: 100%;
    height: 60px;
    text-align:center;
    border-top:black 1px solid;
}
footer h4{
  padding-top:20px;
}
/* Content */
.flex h4{
  padding-top:30px;
  text-align: center;
}
.flex p{
  text-align: center;
}
.flex a{
  text-decoration: none;
  color:red;
  margin-left:115px;
}
.novels-img{
  width:300px;
  height: 360px;
  margin-left:10.5px;
  margin-top:10px;
  border:black 1px solid;
  border-radius:2px;
}
/* Oneshot */
.Oneshot{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.one{
    width: 98%;
    height: 1000px;
    border: black 1px solid;
    border-radius:2px;
    margin-bottom:20px;
}
#oneshot-13{
    width: 60%;
    height: 30px;
    text-align:center;
    margin-top:20px;
}
#oneshot-14{
  text-align: center;
  text-decoration: none;
  height: 700px;
}
#oneshot-14 a{
  text-decoration: none;
  color:red;
}
/* Light Novels */
.ln-bars{
  background-color:#e4e4e4;
  width: 100%;
  height: 50px;
  border-bottom:black 1px solid;
}
.ln{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
#ln-13{
    width: 60%;
    height: 30px;
    text-align:center;
    margin-top:20px;
}
#ln-14{
  text-align: center;
  text-decoration: none;
  height:2700px;
}
#ln-14 a{
  text-decoration: none;
  color:red;
}
/* Web Novels */
.wn-bars{
  background-color:#e4e4e4;
  width: 100%;
  height: 50px;
  border-bottom:black 1px solid;
}
.wn{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
#wn-13{
    width: 60%;
    height: 30px;
    text-align:center;
    margin-top:20px;
}
#wn-14{
  text-align: center;
  text-decoration: none;
  height:2000px;
}
#wn-14 a{
  text-decoration: none;
  color:red;
}
